{% extends "ydelfos/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<form method='post'>
    {% csrf_token %}
    {{ form|crispy }}

    <button type="submit" value="xd">Submit</button>

    <script>
      $(function () {
        $("#id_date").datepicker({
          format:'dd/mm/yyyy',
        });
      });
    </script>
</form>

{% endblock %}
