{% extends "ydelfos/base.html" %}
{% block content %}
    <h2>Te has deslogeado</h2>
    <div class="border-top pt-3">
        <small class="text-muted">
            <a href="{% url 'login' %}">Logear de nuevo</a>
        </small>
    </div>
{% endblock content %}
