{% extends "ydelfos/base.html" %}
{% block content %}

  <article class="media">
    {% for index in data %}
    <div class="content-section">
      <h1>{{ index.name }}</h1>
      <h4>{{ index.professor }}</h4>

      <ul>
      {% for exam in index.dates %}
        <li class="text-muted"> {{ exam.date }}: {{ exam.description }} </li>

      {% endfor %}
      </ul>

    </div>
    {% endfor %}
  </article>

{% endblock %}
